@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;

    --color-white: #FFFFFF;
    --color-dark: #242526;
    --color-white2: #F9F9Fc;
    --color-green: #8ED219;
    --color-text: #242526;
    --color-white-text: #FFFFFF;
    --color-black-text: #000000;
}